/**
* @see https://material.io/color/#!/?view.left=1&view.right=0&primary.color=263238&secondary.color=00695C&secondary.text.color=ffffff&primary.text.color=ffffff
*/

$primary-color: #263238;
$primary-color-light: #4f5b62;
$primary-color-dark: #000a12;

$secondary-color: #00695C;
$secondary-color-light: #439889;
$secondary-color-dark: #003d33;

$text-color: #FAFAFA;
